<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>JwtRequestFilter</filter-name>
  	<display-name>JwtRequestFilter</display-name>
  	<description></description>
  	<filter-class>com.movieapidemo.filters.JwtRequestFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>JwtRequestFilter</filter-name>
  	<url-pattern>/JwtRequestFilter</url-pattern>
  </filter-mapping>
</web-app>
